<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodie's Diary - Home</title>
  {{!-- include css files --}}
  <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">  
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
</head>
<body>
  <header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-weight: bold;font-size: 1.5vw">
        <i class="fa-solid fa-utensils" alt="Foodie's Diary"></i>
          Foodie's Diary {{#if isAuthenticated}}of {{ user.name}} {{/if}}
      </a>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-primary">Logout</a>
      {{else}}
      <a href="/users/login" class="btn btn-primary">Login</a>
      {{/if}}
    </div>
  </nav>
  <div class="banner"></div>
</header>
{{{body}}}
{{!-- include javascript files --}}
 <script src="/javascripts/popper.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/submitBtn.js"></script>
</body>
</html>