<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Bucket List - Home</title>
  {{!-- include css files --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">  
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
</head>
<body>
  <header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-weight: bold;font-size: 1.5vw">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="45" height="45" class="d-inline-block align-top" alt="我的餐廳清單">
          My Bucket List
        </a>
    </div>
  </nav>
  <div class="banner"></div>
</header>
{{{body}}}
{{!-- include javascript files --}}
 <script src="/javascripts/popper.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/submitBtn.js"></script>
</body>
</html>