<div class="row my-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      
        <div class="d-flex align-items-center justify-content-center mb-3 pb-1">
          <i class="fas fa-solid fa-utensils fa-2x me-3" style="color: #9bceb9;"></i>
          <span class="h2 fw-bold  mb-0 ">Sign into your account</span>
        </div>
        {{> message}}
        <form action="/users/login" method="POST">
        <div class="form-outline mb-4">
          <label class="form-label mt-2" for="email">Email address</label>
          <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Enter your email address" />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label mt-2" for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Enter your password" />
        </div>
        <div class="d-flex justify-content-center pt-1 mb-4">
          <button class="btn btn-primary btn-lg btn-block me-2" type="submit">Login</button>
        </div>
        <div style="width: 100%; height: 20px; border-bottom: 1px solid #666666; text-align: center">
          <span class="text-muted" style="background: #ffffff; padding: 0 10px;line-height:auto">
            Or
          </span>
        </div>
        <div class="d-flex justify-content-center pt-1 my-2">
          <a href="/auth/facebook" class="btn btn-info btn-lg btn-block me-4 mt-3" style="background-color: #4267B2; border:#4267B2">Continue with Facebook</a>
          <a href="/auth/google" class="btn btn-lg btn-block mt-3" style="border-color: #666666; color: #555555">Continue with Google</a>
        </div>
         
          
        </div>
        <p class="my-3 pb-lg-2" style="color: #626766;">Don't have an account? <a href="/users/register" class="btn btn-sm btn-outline-primary" style="color: #626766;">Register</a></p>
        <a class="small text-muted mx-2" href="#!">Forgot password?</a>
        <a href="#!" class="small text-muted mx-2">Terms of use.</a>
        <a href="#!" class="small text-muted mx-2">Privacy policy</a>
      </form>
    </div>
  </div>
</div>
