<h1 class="mb-1 restaurant-show-title">新增餐廳</h1><div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
    {{!-- Create New items form --}}
<form class="row g-3 needs-validation" action="/restaurants" method="POST" id="form" novalidate>
<div class="mb-3">
  <label for="name" class="form-label"><i class="fa-solid fa-utensils"></i>&nbsp店名:</label><input type="text" class="form-control" placeholder="請輸入店名" name="name" id="name" required/>
  <div class="invalid-feedback">
   請輸入店名 
  </div>
</div>
<div class="mb-3">
  <label for="name_en"><i class="fa-solid fa-utensils"></i>&nbsp英文店名:</label><input type="text" class="form-control" placeholder="English name" name="name_en" id="name_en" required/>
  <div class="invalid-feedback">
   請輸入英文店名 
  </div>
</div>

<div class="mb-3">
   <label for="category"><i class="fa-solid fa-list-ul"></i>&nbsp分類:</label><input type="text" class="form-control" placeholder="請選擇或新增分類" list="categoryOptions" name="category" id="category" required/>
   <datalist id="categoryOptions">
    <option>美式</option>
    <option>日本料理</option>
    <option>中東料理</option>
    <option>義式餐廳</option>
    <option>酒吧</option>
    <option>咖啡</option>
  </datalist>
  <div class="invalid-feedback">
   請選擇或輸入分類 
  </div>
</div>

<div class="mb-3">
 <label for="image"><i class="fa-solid fa-image"></i>&nbsp圖片連結:</label><input type="url" class="form-control" placeholder="http://" name="image" id="image" required>
 <div class="invalid-feedback">
   請輸入圖片網址
  </div>
</div>

<div class="mb-3">
 <label for="location"><i class="fa-regular fa-map"></i>&nbsp地址:</label><input type="text" class="form-control" placeholder="請輸入地址" name="location" id="location" required>
 <div class="invalid-feedback">
   請輸入地址 
  </div>
</div>

<div class="mb-3">
<label for="phone"><i class="fa-solid fa-phone"></i>&nbsp電話:</label><input type="tel" class="form-control" placeholder="02 1234 5678" name="phone" id="phone" inputmode="numeric" pattern="[0-9]{2} [0-9]{4} [0-9]{4}" required/>
<div class="invalid-feedback">
   請輸入符合格式的電話 (如:02 1234 5678) 
  </div>
</div>

<div class="mb-3">
<label for="google_map"><i class="fa-solid fa-location-dot"></i>&nbspGoogle Map網址:</label><input type="url" class="form-control" placeholder="http://" name="google_map" id="google_map">
</div>

<div class="mb-3">
<label for="rating"><i class="fa-solid fa-star"></i>&nbsp推薦指數:</label><input type="number" class="form-control" placeholder="1-5顆星" step="0.1" name="rating" id="rating" min="1" max="5" inputmode="numeric" required/>
<div class="invalid-feedback">
   請輸入推薦指數(1-5顆星) 
  </div>
</div>

<div class="mb-3">
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="description" name="description" style="height: 100px" required/></textarea>
   <div class="invalid-feedback">
      請輸入簡介
    </div>
    <label for="description"  class="form-label">簡單介紹這間餐廳...</label>
</div>
</div>

<div class="col-12 d-flex justify-content-center"> 
  <button class="btn btn-success mx-2 my-3" type="submit" id="submitButton">新增</button>
   
   <button class="btn btn-danger mx-2 my-3" type="reset" >重新輸入</button>
   <a href='/'><button type="button" class="btn btn-primary mx-2 my-3">回首頁</button></a>
  </div>
</form>

    </div>
  </div>
</div>




