a{
  text-decoration: none;
}
header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

#create-btn{
  font-size: 20px; 
  font-weight: bold;
}

.banner {
  position: relative;
  z-index: 0;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  filter: blur(2px);
}

.search-bar .search-bar-outer {
  position: relative;
  margin: 0 auto;
  max-width: 35vw;
  background-color: #ccf3ea;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -80px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar{
  width: 20%;
}
.search-bar input{
  border: 1px solid #999999;
}

.form-control::placeholder {
  color: #6c6767d4;
  font-size: 0.8rem;
}

.btn-major {
  background-color:#2ca474;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

#sort-by{
  width: 13%;
}

#sort-by select{
  width: 100%;
  padding: 6px;
  background: rgba(255,255,255,0.70);
  border: 2px solid #999999;
  border-radius: 3px;
  font-size: 1rem;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px ;
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: #4592af;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}

